{% extends "master.twig" %}

{% block bodyclass %}body-features{% endblock %}
          
{% block content %}

{% set chapters = app.config.get('taxonomy/chapters/options') %}

<nav class='jumpnav'>
    <ul>
        {% for cat, catname in chapters %}
        <li><a href="#{{cat}}">For {{catname}}</a></li> <!-- AW - WORKING ON THIS -->
        {% endfor %}        
    </ul>
</nav>

{% for cat, catname in chapters %}
<section class="maininfo">
    <div class="maincolumn">

{% setcontent textblock='blocks/'~cat %}   

     <article class="row">
            <h1 id="{{cat}}">For {{catname}}</h1>
            <h3 class="subheader articlebody">{{textblock.body}}</h3>
        </article>
    
        {% setcontent features = 'features' where { 'chapters':cat }%}
        <ul class="featurelist">
            {% for item in features %}
            <li>
                <h3><i class="fa fa-bolt"></i>{{ item.title }}</h3>
                {{ item.text | slice(0,100)}} 
            </li>
            {% endfor %}
        </ul>
        <a class="button">See all download options</a>
        <a class="toplink" href="#">Back to top</a>
    </div>
</section>

{% endfor%}


{% endblock content %}

{% block footer_extra_scripts %}
    <script src="{{paths.theme}}scripts/picturefill.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.min.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.swipe.min.js"></script>
{% endblock %}