{% extends "master.twig" %}

{% block bodyclass %}body-record{% endblock %}
          
{% block content %}

{% set chapters = app.config.get('taxonomy/chapters/options') %}
{% for cat, catname in chapters %}
    

<section class="maininfo">
    <div class="maincolumn">
        <article class="row">
            <h1>For {{catname}}</h1>
            <h3 class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Teneo, inquit, finem illi videri nihil dolere. Sic enim censent, oportunitatis esse beate vivere. Simus igitur contenti his. Is es profecto tu. Quis hoc dicit? Ratio enim nostra consentit,</h3>
        </article>
    
        {% setcontent features = 'features' where { 'chapters':cat }%}
        <ul class="featurelist">
            {% for item in features %}
            <li>
                <h3>{{ item.title }}</h3>
                {{ item.text | slice(0,150) }} 
            </li>
            {% endfor %}
        </ul>
        <a class="button">See all download options</a>
    </div>
</section>

{% endfor%}

{% endblock content %}

{% block footer_extra_scripts %}
    <script src="{{paths.theme}}scripts/picturefill.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.min.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.swipe.min.js"></script>
{% endblock %}