{% extends "master.twig" %}

{% block bodyclass %}body-home{% endblock %}

           
{% block content %}

<section class="maininfo">
    
    {% setcontent aboutblock = 'blocks/about-bolt' %}
    {% setcontent whoblock = 'blocks/who-needs-bolt' %}
    {% setcontent featureblock = 'blocks/features' %}
    
    {% set primaryblocks = [aboutblock,whoblock,featureblock] %}

    {% for item in primaryblocks %}
    <div class="column">
        <h2>{{item.title}}</h2>
        <h3 class="subheader">{{item.subtitle}}</h3>
        {{item.body}}
        <a href="{{item.sitelink}}" class="button">{{item.calltoaction}}</a>          
    </div>
    {% endfor %}
    
    
    
</section>

<section class="slider">
    <div class="inner">
    {% setcontent slideshow = 'slides' %}
    <div class='pager'></div> {# automatically filled #}
    <div class="cycle-slideshow"
        data-cycle-swipe='true'
        data-cycle-fx='scrollHorz'
        data-cycle-timeout='0'
        data-cycle-pager=".pager"
        data-cycle-slides="> div"
        >
        {% for item in slideshow %}
        <div class="slide" data-cycle-pager-template="<a href=#>{{item.title}}</a> ">
            <div class="slideimg">
                <img class="large" src="{{ thumbnail(item.image, 700, 530,"c") }}">
                <img class="mobile" src="{{ thumbnail(item.imagemobile, 250, 435,"c") }}">
            </div>
            <div class="highlights">
            {{item.body}}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="secinfo">
    {% setcontent supportblock = 'blocks/support' %}
    {% setcontent docblock = 'blocks/documentation' %}
    {% setcontent contributeblock = 'blocks/contribute' %}
    
    {% set secblocks = [supportblock,docblock,contributeblock] %}

    {% for item in secblocks %}
    <div class="column">
        <h2>{{item.title}}</h2>
        <h3 class="subheader">{{item.subtitle}}</h3>
        {{item.body}}
        <a href="{{item.sitelink}}" class="button">{{item.calltoaction}}</a>          
    </div>
    {% endfor %}
</section>



{% endblock content %}

{% block footer_extra_scripts %}
    <script src="{{paths.theme}}scripts/picturefill.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.min.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.swipe.min.js"></script>
{% endblock %}