{% extends "master.twig" %}

{% block bodyclass %}body-home{% endblock %}

           
{% block content %}

<section class="hero">
	<div class="maincolumn">

		<article class="row">
            <h1>Easy for editors and a developers wet dream</h1>
            <h2 class="subheader articlebody">Bolt is an open source Content Management Tool, which strives to be as simple and straightforward as possible. It is quick to set up, easy to configure, uses elegant templates, and above all: It’s a joy to use.</h2>
        </article>
    
    </div>
</section>

<section class="shorttexts">
	<article>
		<i class="fa fa-cogs fa-2x"></i>
		<h3>Open source</h3>
	</article>
	<article>
		<i class="fa fa-mobile fa-2x"></i>
		<h3>Responsive</h3>
	</article>
	<article>
		<i class="fa fa-group fa-2x"></i>
		<h3>Community-driven</h3>
	</article>
	<article>
		<i class="fa fa-magic fa-2x"></i>
		<h3>Easy to use</h3>
	</article>
</section>

<section class="maininfo">
    
    {% setcontent aboutblock = 'blocks/about-bolt' %}
    {% setcontent whoblock = 'blocks/who-needs-bolt' %}
    {% setcontent featureblock = 'blocks/features' %}
    
    {% set primaryblocks = [aboutblock,whoblock,featureblock] %}

    {% for item in primaryblocks %}
    <article class="column">
        <h2>{{item.title}}</h2>
        <h3 class="subheader">{{item.subtitle}}</h3>
        {{item.body}}
        <a href="{{item.sitelink}}" class="button">{{item.calltoaction}}</a>          
    </article>
    {% endfor %}
    
</section>

<section class="slider">
    <div class="inner">
    {% setcontent slideshow = 'slides' %}
    <div class='pager'></div> {# automatically filled #}
    <div class="cycle-slideshow"
        data-cycle-swipe='true'
        data-cycle-fx='scrollHorz'
        data-cycle-timeout='0'
        data-cycle-pager=".pager"
        data-cycle-slides="> div"
        >
        {% for item in slideshow %}
        <div class="slide" data-cycle-pager-template="<a href=#>{{item.title}}</a> ">
            <div class="slideimg">
                <img class="large" src="{{ thumbnail(item.image, 700, 530,"c") }}">
                <img class="mobile" src="{{ thumbnail(item.imagemobile, 250, 435,"c") }}">
            </div>
            <div class="highlights">
            {{item.body}}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="secinfo">
    {% setcontent supportblock = 'blocks/support' %}
    {% setcontent docblock = 'blocks/documentation' %}
    {% setcontent contributeblock = 'blocks/contribute' %}
    
    {% set secblocks = [supportblock,docblock,contributeblock] %}

    {% for item in secblocks %}
    <article class="column">
        <h2>{{item.title}}</h2>
        <h3 class="subheader">{{item.subtitle}}</h3>
        {{item.body}}
        <a href="{{item.sitelink}}" class="button">{{item.calltoaction}}</a>          
    </article>
    {% endfor %}
</section>



{% endblock content %}

{% block footer_extra_scripts %}
    <script src="{{paths.theme}}scripts/picturefill.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.min.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.swipe.min.js"></script>
{% endblock %}