{% extends "master.twig" %}

{% block bodyclass %}body-home{% endblock %}

{% block content %}

<section class="hero">
	<div class="maincolumn">

		<article class="row">
            <h1>{{ record.title}}</h1>
            <h2 class="subheader articlebody">{{ record.subtitle }}</h2>
        </article>

    </div>
</section>

<section class="shorttexts">
	<article>
		<i class="fa fa-cogs fa-2x"></i>
		<h3>Open source</h3>
	</article>
	<article>
		<i class="fa fa-mobile fa-2x"></i>
		<h3>Responsive</h3>
	</article>
	<article>
		<i class="fa fa-group fa-2x"></i>
		<h3>Community-driven</h3>
	</article>
	<article>
		<i class="fa fa-magic fa-2x"></i>
		<h3>Easy to use</h3>
	</article>
</section>

<section class="maininfo">

    {% setcontent devblock = 'blocks/developers' %}
    {% setcontent frontendblock = 'blocks/frontend-designers' %}
    {% setcontent editorblock = 'blocks/content-editors' %}

    {% set primaryblocks = [devblock,frontendblock,editorblock] %}

    {% for item in primaryblocks %}
    <article class="column">
        <h2>{{ item.title }}</h2>
        <h3 class="subheader">{{ item.subtitle }}</h3>
        {{ item.body }}
        <!-- a href="{{item.sitelink}}" class="button">{{ item.calltoaction }}</a -->
    </article>
    {% endfor %}

</section>

<section class="features">
   <div class="maincolumn">
       <h1>Features that make Bolt an awesome CMS</h1>
       {% setcontent featureimages = 'features' where { 'id' : '7 || 1 || 32' } %}
       {% setcontent features = 'features' where {'frontpage':'1'} limit '6' orderby 'frontpageorder' %}
       <ul class="featurelist">
            {#
            {% for item in featureimages %}
            <li class='image'>
                <div class="imgcontainer"><img src="{{ thumbnail(item.image,606,400, r) }}" alt="{{ item.title }}" width="303" class="feature-img-{{ loop.index }}"/></div>
            </li>
            {% endfor %} #}

            {% for item in features %}
            <li>
                 {% if loop.index < 4 %}
                 <div class="imgcontainer"><img src="{{ thumbnail(item.image,606,400, 'r') }}" alt="{{ item.title }}" width="303" class="feature-img-{{ loop.index }}"/></div>
                 {% endif %}
                 <h3><i class="fa fa-bolt"></i>{{ item.title }}</h3>
                {{ item.text }}
            </li>
            {% endfor %}
        </ul>
        <a href="/pages/features" class="button">Explore the features</a>
    </div>
</section>

<section class="slider">
    <div class="inner">
    {% setcontent slideshow = 'slides' %}
    <div class='pager'></div> {# automatically filled #}
    <div class="bolt-slideshow"
        data-cycle-swipe='true'
        data-cycle-fx='scrollHorz'
        data-cycle-timeout='0'
        data-cycle-pager=".pager"
        data-cycle-slides="> div"
        data-cycle-log="false"
        >
        {% for item in slideshow %}
        <div class="slide" data-cycle-pager-template="<a href=#>{{item.title}}</a> ">
            <div class="slideimg">
                <img class="large" src="{{ thumbnail(item.image, 700, 430,"c") }}">
                <img class="mobile" width="260" src="{{ thumbnail(item.imagemobile, 520, 400,"c") }}">
            </div>
            <div class="highlights">
            {{item.body}}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</section>

<section class="secinfo">
    {% setcontent supportblock = 'blocks/support' %}
    {% setcontent docblock = 'blocks/documentation' %}
    {% setcontent contributeblock = 'blocks/contribute' %}

    {% set secblocks = [supportblock,docblock,contributeblock] %}

    {% for item in secblocks %}
    <article class="column">
        <h2>{{item.title}}</h2>
        <h3 class="subheader">{{item.subtitle}}</h3>
        {{item.body}}
        <a href="{{item.sitelink}}" class="button">{{item.calltoaction}}</a>
    </article>
    {% endfor %}
</section>

<section class="showcases">
    <div class="maincolumn">
       <h1>Small or large sites, Bolt fits every one of them</h1>
       {% setcontent showcases = 'showcases' where {'frontpage':'1'} %}
       {% set showcases = showcases|shuffle %}
       <ul class="showcaselist">
            {% for item in showcases %}
            {% if loop.index <= 3 %}
            <li>
                <h3>{{ item.title }}</h3>
                <a href="{{ item.sitelink }}"><img src="{{ thumbnail(item.image, 398, 270,"c") }}"></a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>

<section class="logos">
    <div class="maincolumn">
    <h1>Full of proven technologies</h1>
	<ul class="logolist">
    	<li>
    		<div class="icon"><a href="http://symfony.com/"><img src="{{paths.theme}}images/symfony_logo.png" width="100" alt="Symfony" title="Symfony" /></a></div>
    		<h3>Symfony</h3>
    	</li>
    	<li>
    		<div class="icon"><a href="http://twig.sensiolabs.org/"><img src="{{paths.theme}}images/twig_logo.png" width="100" alt="Twig" title="Twig"/></a></div>
    		<h3>Twig</h3>
    	</li>
    	<li>
    		<div class="icon"><a href="http://ckeditor.com/"><img src="{{paths.theme}}images/ckeditor_logo.png" width="100" alt="CKeditor" alt="CKeditor" title="CKeditor"/></a></div>
    		<h3>CKeditor</h3>
    	</li>
    	<li>
    		<div class="icon"><a href="http://github.com"><img src="{{paths.theme}}images/octocat.png" width="100" alt="Github" title="Github" /></a></div>
    		<h3>Github</h3>
    	</li>
    	<li class="sec">
    		<div class="icon"><a href="http://silex.sensiolabs.org"><img src="{{paths.theme}}images/silex_logo.png" width="100" alt="Silex" title="Silex" /></a></div>
    		<h3>Silex</h3>
    	</li>
        <li class="sec">
    		<div class="icon"><a href="http://jquery.com/"><img src="{{paths.theme}}images/jquery_logo.png" width="100" alt="jQuery" alt="jQuery" title="jQuery"/></a></div>
    		<h3>jQuery</h3>
    	</li>
    	<li class="sec">
    		<div class="icon"><a href="http://www.doctrine-project.org/"><img src="{{paths.theme}}images/doctrine_logo.png" width="100" alt="Doctrine" alt="Doctrine" title="Doctrine"/></a></div>
    		<h3>Doctrine</h3>
    	</li>
    	<li class="sec">
    		<div class="icon"><a href="https://getcomposer.org/"><img src="{{paths.theme}}images/composer_logo.png" width="100" alt="Composer" alt="Composer" title="Composer"/></a></div>
    		<h3>Composer</h3>
    	</li>
    	<li class="sec">
    		<div class="icon"><a href="http://swiftmailer.org/"><img src="{{paths.theme}}images/swiftmailer_logo.png" width="100" alt="Swiftmailer" alt="Swiftmailer" title="Swiftmailer"/></a></div>
    		<h3>Swiftmailer</h3>
    	</li>
	</ul>
    </div>
</section>

{% endblock content %}

