<!doctype html>
<!--[if IE]><![endif]-->
<!--[if IE 7]><html xml:lang="{{ htmllang }}" lang="{{ htmllang }}" class="ie ie7"><![endif]-->
<!--[if IE 8]><html xml:lang="{{ htmllang }}" lang="{{ htmllang }}" class="ie ie8"><![endif]-->
<!--[if (lt IE 7)|(gt IE 8)|!(IE)]><!-->
<html xml:lang="en" lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
{%- block title %}
{% set seotitle = record.seotitle|default(record.title) %}
{{ seotitle }}
{%- if app.request.get('_route') != "homepage" %} | {{ app.config.get('general/sitename') }}{% endif -%}
{% endblock title -%}
    </title>
    {% spaceless %}
    {% set description = record.metadescription|default(record.teaser|excerpt(250)) %}
    {% if description is not empty %}
    <meta name="description" content="{{ description|trim }}" />
    {% endif %}
    
    {% endspaceless %}
    <meta name="DCTERMS.title" content="Bolt CMS"/>
    <meta name="robots" content="noydir, noodp"/>
        
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,600italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ paths.theme }}styles/bolt-v20.css" type="text/css" media="all" />
    <script src="{{ paths.theme }}scripts/modernizr.js"></script>
    
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->

    {% block header_extra_scripts %}
    {% endblock %}
</head>

<body class="{%- block bodyclass -%}{%- endblock -%}">
    {% setcontent home = 'pages/homepage' %}
    <header style="background-image: url({{ thumbnail(home.image, 1900, 800,"c") }});">
        <div class="inner">
        {% block header %}
        <!--
        <span data-picture data-alt="An awesome bolt image">
                <span data-src="{{ thumbnail(record.image, 640, 400,"c") }}"></span>
                <span data-src="{{ thumbnail(record.image, 800, 350,"c") }}" data-media="(min-width: 640px)"></span>
                <span data-src="{{ thumbnail(record.image, 1024, 430,"c") }}"  data-media="(min-width: 800px)"></span>
                <span data-src="{{ thumbnail(record.image, 1200, 450,"c") }}"  data-media="(min-width: 1000px)"></span>
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <!--[if (lte IE 9) & (!IEMobile)]>
                    <span data-src="{{ thumbnail(record.image, 1400, 430,"c") }}"></span>
                <![endif]-->
        <!--        <noscript>
                   <img src="{{ thumbnail(record.image, 1024, 430,"c") }}" alt="De skyline van rotterdam">
                </noscript>
            </span>
        -->
        
            <nav class="meta-nav">
                <ul>
                    <li class="counter"><a href="#" title="octocat"><i class="fa fa-lg fa-github"></i>836</a></li>
                    <li class="fork"><a href="#" title="To Bolt on Github">Fork bolt on github</a></li>
                </ul>
            </nav>
            <h1 id="logo"><a href="/"><img src="{{paths.theme}}images/bolt.png" width='200' alt="{{ app.config.get('general/sitename') }}" /></a></h1>
            <h2 class="payoff">{{ app.config.get('general/payoff') }}</h2>
            <a class="button download" href="/pages/download">
                <span class="desktop"><i class="fa fa-download"></i>Download Bolt</span><span class="mobile">View download options</span>
                <span class="sub">Current version v 2.0</span>
            </a>
            <a class="menu-toggle"><span></span></a>
        {% endblock header %}
        </div>
    </header>
   <nav class="main-nav expanded">
        <ul>
            {{ menu('main', '_sub_menu.twig') }}
        </ul>
    </nav>
        
    <main>
    {% block content %}
    If you see this, something is very, very wrong....
    {% endblock content %}
    <a class="topbutton" href="#"><i class="fa fa-hand-o-up  fa-2x"></i><br />Back to top</a>
    </main>
    
    <footer>
        <div class="inner">
            {% block footer %}
            <nav class="bottomnav">
                <ul>
                {{ menu('main', '_sub_menu.twig') }}
                </ul>
            </nav>
            <div class="credits">
                <p>This site is built with Bolt</p>
            </div>
            <div class="socials">
                <a class="tw" href="http://twitter.com/boltcm"><i class="fa fa-lg fa-twitter"></i>Bolt on twitter</a>
                <a class="gh" href="https://github.com/bolt/bolt"><i class="fa fa-lg fa-github"></i>Bolt on github</a>
            </div>
            {% endblock footer %}
        </div>
    </footer>


<script src="{{ paths.theme }}scripts/jquery-1.10.2.min.js"></script>
<script src="{{ paths.theme }}scripts/rem.min.js" type="text/javascript"></script>
<script src="{{ paths.theme }}scripts/bolt-v20.js" type="text/javascript"></script>

{% block footer_extra_scripts %}
{% endblock %}

</body>
</html>