{% extends "master.twig" %}

{% block bodyclass %}body-news{% endblock %}

{% block content %}

<section class="maininfo">
    <div class="maincolumn ">
        {% setcontent news = 'news' orderby '-datepublish' %}
        {% for item in news %}
        <article class="row">
            <h1><a href="{{item.link}}">{{item.title}}</a></h1>
            <h2 class="subheader">{{item.subtitle}}</h2>
            <p class="meta" title="{{ item.datepublish|date("j F Y - H:i") }}">Published: {{ item.datepublish|date("l j F Y") }} by <a href="{{ profile_link(record.user) }}">{{ item.user.displayname }}</a></p>
            <div class="articlebody">
                {% if item.image %}
                <a href="{{ item.image|image() }}" class="magnific">
                    <img src="{{ item.image|thumbnail(700,300) }}">
                </a>
                {% endif %}
                <p>{{ item.excerpt(600) }}</p>
                <a href="{{item.link}}" class="button">Read the full article</a>
            </div>
        </article>
        {% endfor %}

    </div>
</section>



{% endblock content %}

