{% extends "master.twig" %}

{% block bodyclass %}body-record{% endblock %}
          
{% block content %}

{% if record.contenttype.slug =='news' %}
    {% set news = true %}
{% else %}
    {% set news = false %}
{% endif %}

<section class="maininfo">
    <div class="maincolumn ">
        <article class="row">
            <h1><a href="{{record.link}}">{{record.title}}</a></h1>
            {# <h2 class="subheader">{{record.subtitle}}</h2> #}
            {% if news %}<p class="meta">Published: {{ record.datepublish|date("l j F - H:i") }}</p>{% endif %}
            <div class="articlebody">
                {% if record.image %}
                <a href="{{ record.image|image() }}" class="fancybox">
                    <img src="{{ record.image|thumbnail(700,300) }}">
                </a>
                {% endif %}
                {{  record.introduction }}
                {{  record.text }}
                {{  record.text_markdown }}
                {{  record.body }}
                
                {% if news %}
                    <div class="disqus">
                    {{ disqus() }}
                    </div>
                {% endif %}
                
                {% if record.slug =='irc' %}
                <iframe src="https://kiwiirc.com/client?settings=8a78db10b57fff9f5d6a2fe144acb6a4" style="border:0; width:100%; height:550px;"></iframe>
                {% endif %}
                
            </div>
            
        </article>
                
    </div>
</section>

{% endblock content %}

{% block footer_extra_scripts %}
    <script src="{{paths.theme}}scripts/picturefill.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.min.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.swipe.min.js"></script>
{% endblock %}