{% extends "master.twig" %}

{% block bodyclass %}body-record{% endblock %}
          
{% block content %}

<section class="maininfo">
    <div class="maincolumn ">
        <article class="row">
            <h1><a href="{{record.link}}">{{record.title}} - {{record.contentype.slug}}</a></h1>
            <h2 class="subheader">{{record.subtitle}}</h2>
            <p class="meta">Published: {{ record.datepublish|date("l j F - H:i") }}</p>
            <div class="articlebody">
                {% if record.image %}
                <a href="{{ record.image|image() }}" class="fancybox">
                    <img src="{{ record.image|thumbnail(700,300) }}">
                </a>
                {% endif %}
                {{  record.introduction }}
                {{  record.text }}
                {{  record.text_markdown }}
                {% if record.contenttype.slug =='news' %}
                <div class="disqus">
                {{ disqus() }}
                </div>
                {% endif %}
            </div>
            
        </article>
                
    </div>
</section>

{% endblock content %}

{% block footer_extra_scripts %}
    <script src="{{paths.theme}}scripts/picturefill.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.min.js"></script>
    <script src="{{ paths.theme }}scripts/cycle2.swipe.min.js"></script>
{% endblock %}